*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
}

.hero{
    height:100vh;
    width: 100%;
    background-color: black;
    background-size:cover ;
    background-position: center;
    padding-top: 30px;;
    
}



nav{
    display:flex;
    padding-left: 29%;
    padding-right: 0%;
    padding-top: -60px;
    
}

nav ul{
    display:flex;
    float:right;
}

nav ul li{
    padding:10px 20px;
    list-style-type: none;
}
.name{
  color:white;
  font-size: 40px;  
  padding-left:10px;
  padding-top: 20px;
}
span{
    color:rgb(245, 0, 139)
}
nav ul li a{
    color:white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover
{
    color: rgb(245, 0, 139);
    transition: 1s;
    text-decoration:underline;
}
.content{
    padding-top: 180px;
    padding-left:100px;
    color:white;
    height: 100vh;
    width: 100%;
    transition:2s;  
}
.content p{
    padding-top: 20px;
    font-size: 1.5em; 
    width:700px;   
}
.sep{
    display:flex;
}
.sep img{
    height: 450px;
    margin-top: 60px;
    margin-right: 300px;
    width: auto;
    border: 6px solid rgb(245, 0, 139);
    border-radius: 100px;
    transition: height 2s;
}

.sep img:hover{
     height: 550px;     
}
.nam{
    color:white;
    font-size: 60px;  
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}
.nam:hover{
font-size: 70px;
}
h3{
    color:rgb(216, 1, 141);
    font-size: 20px;
    margin-bottom: 20px;
}
h4{
    color: rgb(216, 1, 141);
    font-size: 20px;
    padding-top: 20px;
}
.about_me{
    width: 100%;
    padding:20px 0px;
    background-color: black;
}
.about_me h3{
    color:rgb(245, 0, 139);
    font-size: x-large;
    text-decoration:wavy;     
}
.about_content{
    color: white;
    padding: 30px 100px 30px 100px;
}

.about_content p{
    padding-top: 10px;
}
table, th, td {
    border:1px solid white;
    padding: 25px;
  }
table{
    color:white;
    margin-left: 200px;
    text-align: center;
    margin-top:20px;
    font-size: large;
   border-collapse: collapse;
}

table tr th{
    color:rgb(245, 0, 139);
}
.techskill{
    background-color: black;
    padding-top: 50px;
    
}


.skills-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
   
}

.techskill h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 100%;
    margin-bottom: 30px;
}

h1 span {
    color: rgb(245, 0, 139);
}

.skills-column {
    width: 45%;
}

.skill {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 70px;   
}

.skill p {
    margin: 0;
    font-size: 1.2em;
    color:white;
    font-weight: bold;
}

.progress {
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    background: rgb(255, 90, 184);
    height: 30px;
    border-radius: 20px;
    line-height: 30px;
    color: rgb(3, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.html {
    width: 85%;
}

.css {
    width: 70%;
}

.java {
    width: 75%;
}

.javascript {
    width: 40%;
}

.sql {
    width: 80%;
}

.git {
    width: 75%;
}
.project{
    background-color: black;
    color:white;
}

.project h1{
    color:rgb(245, 0, 139);
    text-align: center; 
    font-size: 2em;  
}
.project_title{
    padding-left: 50px;
    padding-right:50px;
    padding-top: 30px;;
}
h2{
    padding: 10px;
}
